[submodule "tree-sitter-java"]
	path = tree-sitter-java
	url = https://github.com/SR-Lut3t1um/tree-sitter-java.git
[submodule "tree-sitter-html"]
	path = tree-sitter-html
	url = https://github.com/tree-sitter/tree-sitter-html.git
